body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #dbeeff;
  text-align: center;
}

.page {
  max-width: 400px;
  margin: auto;
}

.hidden {
  display: none;
}

input, select {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

.game {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}

.item {
  width: 90px;
  height: 90px;
  font-size: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 10px;
}
